{% extends "layout/base.html" %}

{% block content %}
<div class="py-5" style="background-image: url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8 text-center">
          <h1 contenteditable="true"><b>Daftar Kepanitiaan</b></h1>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-primary" href="{% url 'kepanitiaan:add_kepanitiaan' %}"><b><b>Tambahkan kepanitiaan baru...</b></b></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        {% for kepanitiaan in list_kepanitiaan %}
            <div class="col-lg-3 col-6 p-3">
              <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/img-placeholder-1.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> <b>{{ kepanitiaan.nama }}</b> </h5>
                  <p class="card-text">{{ kepanitiaan.kategori }} | {{ kepanitiaan.tingkatan }}</p>
                  <p class="card-text">Email: {{ kepanitiaan.email }}</p>
                  <a href="{{ kepanitiaan.website }}"><p class="card-text">Website</p></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 my-2"><a class="btn btn-primary" href="{% url 'kepanitiaan:update_kepanitiaan' kepanitiaan.id %}"><b>&nbsp; Update kepanitiaan...&nbsp;</b></a></div>
              </div><a class="btn btn-danger" href="{% url 'kepanitiaan:delete_kepanitiaan' kepanitiaan.id %}"><b>&nbsp; Delete kepanitiaan...&nbsp; &nbsp;</b></a>
            </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}
