<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa d-inline fa-lg fa-stop-circle"></i>
            <b><b>Sistem Informasi Mahasiswa UI</b></b>
        </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="{% url 'organisasi:index' %}">Organisasi</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'kepanitiaan:index' %}">Kepanitiaan</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Event</a> </li>
        </ul>
        <a href="{% url 'main:logout' %}" class="btn navbar-btn ml-md-2 btn-light text-dark">Logout</a>
    </div>
    </div>
</nav>
