{% extends "layout/base.html" %}

{% block content %}
<div class="py-5" style="background-image: url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8 text-center">
          <h1 contenteditable="true"><b>Daftar Organisasi</b></h1>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-primary" href="{% url 'organisasi:add_organisasi' %}"><b><b>Tambahkan Organisasi baru...</b></b></a></div>
          </div>
        </div>
      </div>

      <div class="row">
        {% for organisasi in list_organisasi %}
            <div class="col-lg-3 col-6 p-3">
              <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/img-placeholder-1.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> <b>{{ organisasi.nama }}</b> </h5>
                  <p class="card-text">{{ organisasi.kategori }} | {{ organisasi.tingkatan }}</p>
                  <p class="card-text">Email: {{ organisasi.email }}</p>
                  <a href="https://{{ organisasi.alamat_website }}"><p class="card-text">Website</p></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 my-2"><a class="btn btn-primary" href="{% url 'organisasi:update_organisasi' organisasi.id %}"><b>&nbsp; Update Organisasi...&nbsp;</b></a></div>
              </div><a class="btn btn-danger" href="{% url 'organisasi:delete_organisasi' organisasi.id %}"><b>&nbsp; Delete Organisasi...&nbsp; &nbsp;</b></a>
            </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}
