{% extends "layout/base.html" %}

{% block content %}
  <div class="py-5 text-center text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-md-10 p-4">
          <h1 class="text-light"><b>Pembaruan Informasi Organisasi</b></h1>
          <p class="mb-4 lead text-light">Bantu kami memperkaya database kami dengan memperbarui informasi terkait Organisasi.<br></p>

            <form action="{% url 'organisasi:update_organisasi' id_current %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" name="nama_organisasi" id="nama_organisasi" placeholder="Nama Organisasi" required="required"> </div>
              <div class="form-group col-md-4"> <input type="email" class="form-control" name="email" id="email" placeholder="Email"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" id="contact_person" name="contact_person" placeholder="Contact Person"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="website" name="website" placeholder="Website" required="required"> </div>
                    <div class="form-group col-md-4">
                    <div class="btn-group">
                      <select name="tingkatan" id="tingkatan" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option selected="selected" disabled>Tingkatan Organisasi</option>
                          {% for x,y in tingkatan_dropdown.fields.tingkatan.choices %}
                              <option value="{{ x }}" class="dropdown-item">{{ x }}</option>
                          {% endfor %}
                      </select>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    </div>
                  </div>
              <div class="form-group col-md-4">
                  <div class="btn-group">
                      <select name="kategori" id="kategori" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option selected="selected" disabled>Kategori Organisasi</option>
                          {% for x,y in kategori_dropdown.fields.kategori.choices %}
                              <option value="{{ x }}" class="dropdown-item">{{ x }}</option>
                          {% endfor %}
                      </select>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  </div>
              </div>
            </div>
            <div class="form-group"> <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3" placeholder="Deskripsi Singkat Organisasi"></textarea> </div>
            <button type="submit" class="btn btn-secondary">Daftarkan!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}