{% extends "layout/base.html" %}

{% block content %}
  <div class="py-5 text-center text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-md-10 p-4">
          <h1 class="text-light"><b>Pembaruan Informasi Event</b></h1>
          <p class="mb-4 lead text-light">Bantu kami memperkaya database kami dengan memperbarui event.<br></p>

            <form action="{% url 'event:update_event' id_current %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="text" class="form-control" name="nama_event" id="nama_event" placeholder="Nama event" required="required"> </div>
              <div class="form-group col-md-4"> <input type="time" class="form-control" name="waktu" id="waktu" placeholder="Waktu Event"> </div>
              <div class="form-group col-md-4"> <input type="date" class="form-control" id="tanggal" name="tanggal" placeholder="Tanggal Event"> </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="sifat_event" name="sifat_event" placeholder="Sifat Event" required="required"> </div>
                  <div class="form-group col-md-4">
                    <div class="btn-group">
                      <select name="organisasi" id="organisasi" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option selected="selected" disabled>Organisasi</option>
                          {% for x,y in organisasi_dropdown.fields.organisasi.choices %}
                              <option value="{{ x }}" class="dropdown-item">{{ y }}</option>
                          {% endfor %}
                      </select>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    </div>
                  </div>
              <div class="form-group col-md-4">
                    <div class="btn-group">
                      <select name="kepanitiaan" id="kepanitiaan" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option selected="selected" disabled>Kepanitiaan</option>
                          {% for x,y in kepanitiaan_dropdown.fields.kepanitiaan.choices %}
                              <option value="{{ x }}" class="dropdown-item">{{ y }}</option>
                          {% endfor %}
                      </select>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4"> <input type="number" class="form-control" name="harga_tiket" id="harga_tiket" placeholder="Harga Tiket" required="required"> </div>
              <div class="form-group col-md-4"> <input type="text" class="form-control" name="lokasi" id="waktu" placeholder="Lokasi Event"> </div>
              <div class="form-group col-md-4"> <input type="number" class="form-control" id="kapasitas" name="kapasitas" placeholder="Kapasitas Tempat"> </div>
            </div>
            <div class="form-group"> <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3" placeholder="Deskripsi Singkat Event"></textarea> </div>
            <div class="form-group col-md-4">
                    <div class="btn-group">
                      <select name="kategori" id="kategori" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option selected="selected" disabled>Kategori Event</option>
                          {% for x,y in kategori_dropdown.fields.kategori.choices %}
                              <option value="{{ x }}" class="dropdown-item">{{ y }}</option>
                          {% endfor %}
                      </select>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    </div>
                  </div>
            <button type="submit" class="btn btn-secondary">Daftarkan!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}