{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>
      {% block title %} {{ login_title }} {% endblock %}
  </title>
  <meta name="description" content="Sistem Informasi Mahasiswa UI">

    <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="{% static 'js/navbar-ontop.js' %}"></script>

    <!-- Script: Animated entrance -->
  <script src="{% static 'js/animate-in.js' %}"></script>
</head>

<body>
  <!-- Navbar -->
  <!-- Cover -->
  <!-- Article style section -->
  <!-- Features -->
  <!-- Features -->
  <!-- Carousel reviews -->
  <!-- Call to action -->
  <!-- Footer -->
  <!-- JavaScript dependencies -->
  <div class="py-5 text-center" style="background-image: url(https://static.pingendo.com/cover-bubble-dark.svg); background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Masuk ke SIMUI</h1>
          <form action="{% url 'login:auth-login' %}" method="POST">
              {% csrf_token %}
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" id="form9">
            </div>
            <div class="form-group mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" id="form10">
            </div>
              <button type="submit" class="btn btn-primary"><b>LOGIN</b></button>
          </form>
            <br>
            {% for message in messages %}
                <span class="text-danger">{{ message }}</span>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="{% static 'js/smooth-scroll.js' %}"></script>
</body>
</html>