{% extends "layout/base.html" %}

{% block content %}
<div class="py-5 text-center">
<div class="container">
  <div class="row">
    <div class="mx-auto col-md-12">
      <h1 class="mb-3">Selamat Datang!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
      <h4> <b>{{ full_name }}</b></h4>
      {% if is_admin %}
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ role }}</b></p>
      {% endif %}
      {% if is_mahasiswa %}
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ role }} - {{ npm }}</b></p>
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ email }} | {{ no_telepon }}</b></p>
      {% endif %}
      {% if is_dosen %}
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ role }} - {{ nidn }}</b></p>
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ email }} | {{ no_telepon }}</b></p>
      {% endif %}
      {% if is_staff %}
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ role }} - {{ nip }}</b></p>
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ email }} | {{ no_telepon }}</b></p>
      {% endif %}
      {% if is_guest %}
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ role }} - {{ pekerjaan }}</b></p>
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ alamat }}</b></p>
        <p style="	text-shadow: 0px 0px 4px black;"><b style="	text-shadow: 0px 0px 0px black;">{{ email }} | {{ no_telepon }}</b></p>
      {% endif %}
    </div>
  </div>
</div>
</div>
<div class="py-5 text-center text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
<div class="container">
  <div class="row">
    <div class="mx-auto col-md-12">
      <h1 class="mb-3">List Kepanitiaan, Organisasi, dan Event</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 p-4">
      <h4> <b>Kepanitiaan</b></h4>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            {% for kepanitiaan in list_kepanitiaan %}
            <a href="#" class="list-group-item list-group-item-action">{{ kepanitiaan.nama }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-md-12"><a class="btn btn-primary" href="{% url 'kepanitiaan:index' %}"><b>Lihat Semua Kepanitiaan...</b></a></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-4">
      <h4> <b>Organisasi</b></h4>
      <div class="col-md-12">
        <div class="list-group">
            {% for organisasi in list_organisasi %}
                <a href="#" class="list-group-item list-group-item-action">{{ organisasi.nama }}</a>
            {% endfor %}
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-md-12"><a class="btn btn-primary" href="{% url 'organisasi:index' %}"><b>Lihat Semua Organisasi...</b></a></div>
      </div>
    </div>
    <div class="col-lg-4 p-4">
      <h4>Event</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            {% for event in list_event %}
            <a href="#" class="list-group-item list-group-item-action">{{ event.nama }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-md-12"><a class="btn btn-primary" href="{% url 'event:index' %}"><b>Lihat Semua Event...</b></a></div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}